{% extends "ftpm/base.html" %}
{% load static %}
{% block main_content %}
  <!-- Main Carousel
  ================================================== -->
	<div class="row">
      <ul id="main-carousel" class="jcarousel-skin-tango">
        <!-- start carousel -->
		<li>
		  <div class="carousel-box">
		    <div class="block view">
			  <img src="{% static "ftpm/img/sliders/carousel/img03.jpg" %}" alt="" />
			<div class="mask">
			  <div class="mask-icon">
			    <div class="quartercircletopleft-mask"><a href="#"></a></div>
			    <div class="quartercircletopright-mask"><a href="#"></a></div>
			    <div class="quartercirclebottomright-mask"><a href="#"></a></div>
			    <div class="quartercirclebottomleft-mask"><a href="#"></a></div>
			    <a href="{% static "ftpm/img/sliders/carousel/img03.jpg" %}" data-rel="prettyPhoto" class="zoom-icon"></a>
  			  </div><!-- mask-icon -->
			</div><!-- mask -->
			</div><!-- block -->  
			<h4>知乎</h4>
			<div class="border-5-1"></div>
		  </div><!-- carousel-box -->
		</li>

		<li>
		  <div class="carousel-box">
		    <div class="block view">
			  <img src="{% static "ftpm/img/sliders/carousel/img02.jpg" %}" alt="" />
			<div class="mask">
			  <div class="mask-icon">
			    <div class="quartercircletopleft-mask"><a href="#"></a></div>
			    <div class="quartercircletopright-mask"><a href="#"></a></div>
			    <div class="quartercirclebottomright-mask"><a href="#"></a></div>
			    <div class="quartercirclebottomleft-mask"><a href="#"></a></div>
			    <a href="{% static "ftpm/img/sliders/carousel/img02.jpg" %}" data-rel="prettyPhoto" class="zoom-icon"></a>
  			  </div><!-- mask-icon -->
			</div><!-- mask -->
			</div><!-- block -->  
			<h4>斗鱼</h4>
			<div class="border-5-1"></div>
		  </div><!-- carousel-box -->
		</li>

		<li>
		  <div class="carousel-box">
		    <div class="block view">
			  <img src="{% static "ftpm/img/sliders/carousel/img01.jpg" %}" alt="" />
			<div class="mask">
			  <div class="mask-icon">
			    <div class="quartercircletopleft-mask"><a href="#"></a></div>
			    <div class="quartercircletopright-mask"><a href="#"></a></div>
			    <div class="quartercirclebottomright-mask"><a href="#"></a></div>
			    <div class="quartercirclebottomleft-mask"><a href="#"></a></div>
			    <a href="{% static "ftpm/img/sliders/carousel/img01.jpg" %}" data-rel="prettyPhoto" class="zoom-icon"></a>
			  </div><!-- mask-icon -->
			</div><!-- mask -->
			</div><!-- block -->  
			<h4>公示网</h4>
			<div class="border-5-1"></div>
		  </div><!-- carousel-box -->
		</li>

		<li>
		  <div class="carousel-box">
		    <div class="block view">
			  <img src="{% static "ftpm/img/sliders/carousel/img04.jpg" %}" alt="" />
			<div class="mask">
			  <div class="mask-icon">
			    <div class="quartercircletopleft-mask"><a href="#"></a></div>
			    <div class="quartercircletopright-mask"><a href="#"></a></div>
			    <div class="quartercirclebottomright-mask"><a href="#"></a></div>
			    <div class="quartercirclebottomleft-mask"><a href="#"></a></div>
			    <a href="{% static "ftpm/img/sliders/carousel/img04.jpg" %}" data-rel="prettyPhoto" class="zoom-icon"></a>
  			  </div><!-- mask-icon -->
			</div><!-- mask -->
			</div><!-- block -->  
			<h4>虎牙</h4>
			<div class="border-5-1"></div>
		  </div><!-- carousel-box -->
		</li>

		<li>
		  <div class="carousel-box">
		    <div class="block view">
			  <img src="{% static "ftpm/img/sliders/carousel/img05.jpg" %}" alt="" />
			<div class="mask">
			  <div class="mask-icon">
			    <div class="quartercircletopleft-mask"><a href="#"></a></div>
			    <div class="quartercircletopright-mask"><a href="#"></a></div>
			    <div class="quartercirclebottomright-mask"><a href="#"></a></div>
			    <div class="quartercirclebottomleft-mask"><a href="#"></a></div>
			    <a href="{% static "ftpm/img/sliders/carousel/img05.jpg" %}" data-rel="prettyPhoto" class="zoom-icon"></a>
  			  </div><!-- mask-icon -->
			</div><!-- mask -->
			</div><!-- block -->  
			<h4>淘宝</h4>
			<div class="border-5-1"></div>
		  </div><!-- carousel-box -->
		</li>

		<li>
		  <div class="carousel-box">
		    <div class="block view">
			  <img src="{% static "ftpm/img/sliders/carousel/img06.jpg" %}" alt="" />
			<div class="mask">
			  <div class="mask-icon">
			    <div class="quartercircletopleft-mask"><a href="#"></a></div>
			    <div class="quartercircletopright-mask"><a href="#"></a></div>
			    <div class="quartercirclebottomright-mask"><a href="#"></a></div>
			    <div class="quartercirclebottomleft-mask"><a href="#"></a></div>
			    <a href="{% static "ftpm/img/sliders/carousel/img06.jpg" %}" data-rel="prettyPhoto" class="zoom-icon"></a>
  			  </div><!-- mask-icon -->
			</div><!-- mask -->
			</div><!-- block -->  
			<h4>微博</h4>
			<div class="border-5-1"></div>
		  </div><!-- carousel-box -->
		</li>
	  </ul><!-- #projects-carousel -->
	</div><!-- row -->

    
  <!-- Services Block
  ================================================== -->
    <div class="row">
      <div class="span3">
        <div class="services clearfix">
          <h4 class="colored">站长声明.<br />我们是个数据小组.</h4>
          <p>如果本站部分内容侵犯您的权益，请您告知，站长会立即处理。</p>
            <p>如果本站部分内容侵犯您的权益，请您告知，站长会立即处理</p>
          <a href="#" class="rm-link">View all services</a>
        </div><!-- services -->
      </div><!-- span3 -->
      
      <div class="srv-block">
        <div class="srv-block1">
          <h4 class="colored">技术团队</h4>
          <p class="italic">Maecenas purus metus, interdum eu auctor eu, dignissim nec nisl. Suspendisse luctus placerat augue a cursus. Mauris sit amet odio ac urna placerat blandit at commodo eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
          <div class="quartercircletopleft"><a href="#"></a></div>
        </div><!-- srv-block1 -->
        <div class="srv-block2">
          <h4 class="colored">日常交付</h4>
          <p class="italic">Legere semper everti at has, ea wisi periculis est, eos ut ullum error perfecto. Labores democritum ius cu, stet instructior mediocritatem eu mea. Ius ex saperet evertitur. Est in quot detraxit, soleat senserit no vis. Mei meis timeam maiorum et, te esse quas maluisset.</p>
          <div class="quartercircletopright"><a href="#"></a></div>
        </div><!-- srv-block1 -->
        <div class="srv-block3">
          <h4 class="colored">交付格式</h4>
          <p class="italic">Sed tale decore facete ad, lorem accusam electram at has. Iusto sententiae interpretaris mea ei, eum at eirmod vivendo. Soluta honestatis eam no, eu quo elitr semper, primis animal tamquam est eu. Vix id aliquam intellegam eloquentiam. Ne vel sumo ludus vivendum, cum eros magna delicata at. Dolore labores eos an, ut has quot commodo habemus.</p>
          <div class="quartercirclebottomleft"><a href="#"></a></div>
        </div><!-- srv-block1 -->
        <div class="srv-block4">
          <h4 class="colored">多进程，多代理</h4>
          <ul class="italic unstyled">
            <li><i class="icon-time"></i><p>Backup &amp; recover data 24/7 for enhanced security.</p></li>
            <li><i class="icon-briefcase"></i><p>Project/Program assessment &amp; management.</p></li>
            <li><i class="icon-lock"></i><p>Internet-based data protection.</p></li>
            <li></li>
          </ul>
          <div class="quartercirclebottomright"><a href="#"></a></div>
        </div><!-- srv-block1 -->
      </div><!-- srv-block -->
    </div><!-- row -->
    
    <div class="row margin40">
      <div class="span3"><div class="border-5-1"></div></div>
      <div class="span9"><div class="border-5-1 hide-border"></div></div>
    </div><!-- row -->


  <!-- Portfolio Block
  ================================================== -->
    <div class="row">
      <div class="span3">
        <div class="latest-projects clearfix">
          <h4 class="colored">最新博客.</h4>
          <p>站长的最新博客周更2-3篇，介绍技术源码分析和运营赚钱玩法</p>
          <a href="#" class="rm-link">点击查看</a>
        </div><!-- latest-projects -->
      </div><!-- span3 -->
      
      <div class="projects-block">
        <div class="span3">
          <div class="projects-box view">
            <img src="{% static "ftpm/img/projects/img02.jpg" %}" alt="Portfolio Item #1" />
			<div class="mask">
			  <div class="mask-icon">
			    <div class="quartercircletopleft-mask"><a href="#"></a></div>
			    <div class="quartercircletopright-mask"><a href="#"></a></div>
			    <div class="quartercirclebottomright-mask"><a href="#"></a></div>
			    <div class="quartercirclebottomleft-mask"><a href="#"></a></div>
			    <a href="item.html" class="link-icon"></a>
			</div><!-- mask-icon -->
			</div><!-- mask -->
            <div class="projects-meta">
              <span class="month">June</span>
              <span class="date">05</span>
            </div><!-- projects-meta -->
          </div><!-- projects-box -->
            <h3 style="margin-top:20px; margin-bottom:0px; text-align: center">标题</h3>
        </div><!-- span3 -->

      </div><!-- projects-block -->
    </div><!-- row -->
    
    <div class="row margin40">
      <div class="span3"><div class="border-5-1"></div></div>
      <div class="span9"><div class="border-5-1 hide-border"></div></div>
    </div><!-- row -->
{% endblock %}

