{% extends "ftpm/base.html" %}
{% load static %}
{% block head_title %} 主播库{% endblock %}
{% block separator_content %}
    <form method="get" id="searchform" style="text-align:center" action="{% url "zbindex" %}"/>
    <div class="input-prepend">
        <span class="add-on"><i class="icon-search"></i></span><input class="search-box" id="search-box" type="text" name="key"
                                                                      value="主播名称"
                                                                      onFocus="if(this.value=='主播名称')this.value='';"
                                                                      onBlur="if(this.value=='')this.value='主播名称';"/>
    <button onclick="submit()">搜索</button>
    </div>
    </form>
{% endblock %}
{% block main_content %}
    <!-- Page
  ================================================== -->
    <div id="entry-page" class="row">
        <div class="span3">
            <div class="widget well clearfix">
                <h5>关于直播</h5>
                <dl>
                    <dt>网络直播</dt>
                    <dd>网络视频直播存在已有很长一段时间，随着移动上下行带宽提升及资费的下调，视频直播被赋予了更多娱乐和社交的属性，人们享受随时随地进行直播和观看，主播不满足于单向的直播，观众则更渴望互动.
                    </dd>
                </dl>
                <dl>
                    <dt>####</dt>
                    <dd>####.
                    </dd>
                </dl>

                <!-- Example accordion -->
                <div class="accordion last" id="accordion2">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                #1
                            </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">
                            <div class="accordion-inner">
                                ####.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                 #2
                            </a>
                        </div>
                        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px; ">
                            <div class="accordion-inner">
                                ####.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                                #3
                            </a>
                        </div>
                        <div id="collapseThree" class="accordion-body in collapse" style="height: auto; ">
                            <div class="accordion-inner">
                                ####.
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End accordion -->
            </div><!-- widget widget-list well -->

            <!-- Categories -->
            <div class="widget widget-list well">
                <h5>类目</h5>
                <ul class="nav nav-list">
                    <li><a href="#"><i class="icon-list-alt"></i> 直播</a></li>
                    <li><a href="#"><i class="icon-list-alt"></i> 斗鱼</a></li>
                    <li><a href="#"><i class="icon-list-alt"></i> 虎牙</a></li>
                </ul>
            </div><!-- widget -->
        </div><!-- span3 -->

        <div class="span9">
            <section id="badges" style="padding-top:0;">
                <div class="page-header" style="margin-top:0;">
                    <h2>直播数据
                        <small style="display:block;">搜搜你最喜爱的直播</small>
                    </h2>
                </div>
                <div class="row">
                    <div class="span4">
                        <h5>数据来源</h5>
                        <p>互联网</p>
                    </div><!-- /.span -->
                    <div class="span8">
                        <h5>斗鱼直播数据</h5>
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>直播间</th>
                                <th>类目</th>
                                <th>二级类目</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for zb in zbs %}
                                <tr>
                                    <td>
                                        <a href="{% url "zbdetail" %}?cid={{ zb.cid }}">{{ zb.nick_name }}</a>
                                    </td>
                                    <td>
                                        {{ zb.cate_name }}
                                    </td>
                                    <td>
                                        {{ zb.second_lvl_name }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- PAGINATION  -->
                        <div class="row margin40 pag">
                            <div class="span3"><p/></div>
                            <div class="span9">
                                <div class="pagination">
                                    <ul>
                                        {% if zbs.has_previous %}
                                            <li><a href="?page={{ zbs.previous_page_number }}&key={{ request.GET.key }}"></a></li>
                                        {% else %}
                                            <li><a href="?page=1&key={{ request.GET.key }}"></a></li>
                                        {% endif %}
                                        {% if zbs.has_previous %}
                                            <li class="page-item"><a class="page-link"
                                                                     href="?page={{ zbs.previous_page_number }}&key={{ request.GET.key }}">{{ zbs.previous_page_number }}</a>
                                            </li>
                                        {% endif %}
                                        <li class="page-item active"><a class="page-link"
                                                                        href="?page={{ zbs.number }}&key={{ request.GET.key }}">{{ zbs.number }}</a>
                                        </li>
                                        {% if zbs.has_next %}
                                            <li class="page-item"><a class="page-link"
                                                                     href="?page={{ zbs.next_page_number }}&key={{ request.GET.key }}">{{ zbs.next_page_number }}</a>
                                            </li>
                                        {% endif %}
                                        {% if zbs.has_next %}
                                            <li><a href="?page={{ zbs.next_page_number }}&key={{ request.GET.key }}"></a></li>
                                        {% else %}
                                            <li><a href="?page={{ zbs.number }}&key={{ request.GET.key }}"></a></li>
                                        {% endif %}

                                    </ul>
                                </div><!-- pagination -->
                            </div><!-- span6 -->
                        </div><!-- row -->
                    </div><!-- /.span -->
                </div><!-- /.row -->

            </section>

        </div><!-- span9 -->
    </div><!-- row entry-page -->

    <!-- DIVIDER -->
    <div class="row margin10-40">
        <div class="span3">
            <div class="border-5-1"></div>
        </div>
        <div class="span9">
            <div class="border-5-1 hide-border"></div>
        </div>
    </div><!-- row -->
    <!-- ============================================================================================= -->


{% endblock %}